In [2]:
# Loading libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
X = pd.DataFrame(
    np.array([5,7,8, np.NaN, np.NaN, np.NaN, -5,
              0,25,999,1,-1, np.NaN, 0, np.NaN])\
              .reshape((5,3)))
X.columns = ['f1', 'f2', 'f3'] #feature 1, feature 2, feature 3

In [18]:
X

      f1   f2    f3
0    5.0  7.0   8.0
1    NaN  NaN   NaN
2   -5.0  0.0  25.0
3  999.0  1.0  -1.0
4    NaN  0.0   NaN

In [11]:
X.dropna(axis=0, thresh=2, inplace=True)
X

      f1   f2    f3
0    5.0  7.0   8.0
2   -5.0  0.0  25.0
3  999.0  1.0  -1.0

In [13]:
X.reset_index(inplace=True)
X

   level_0  index     f1   f2    f3
0        0      0    5.0  7.0   8.0
1        1      2   -5.0  0.0  25.0
2        2      3  999.0  1.0  -1.0

In [14]:
X.drop(['index'], axis=1, inplace=True)
X

   level_0     f1   f2    f3
0        0    5.0  7.0   8.0
1        1   -5.0  0.0  25.0
2        2  999.0  1.0  -1.0

In [19]:
from sklearn.impute import MissingIndicator
X.replace({999.0 : np.NaN}, inplace=True)
X

    f1   f2    f3
0  5.0  7.0   8.0
1  NaN  NaN   NaN
2 -5.0  0.0  25.0
3  NaN  1.0  -1.0
4  NaN  0.0   NaN

In [22]:
indicator = MissingIndicator(missing_values=np.NaN)
indicator = indicator.fit_transform(X)
indicator = pd.DataFrame(indicator, columns=['m1', 'm2', 'm3'])
indicator

      m1     m2     m3
0  False  False  False
1   True   True   True
2  False  False  False
3   True  False  False
4   True  False   True

In [33]:
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy="most_frequent")
imp.fit([[1, 2], [np.nan, 3], [7, 6]]) # From here it calculates the strategy by columns

SimpleImputer(strategy='most_frequent')

In [28]:
X = [[np.nan, 2], [6, np.nan], [7, 6]]
X

[[nan, 2], [6, nan], [7, 6]]

In [34]:
print(imp.transform(X)) # then, here replace the previous learned values

[[1. 2.]
 [6. 2.]
 [7. 6.]]